.nav {
    background: #161b22;
    box-shadow: 0 5px 10px #ccc;
}
.nav a {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    text-decoration: none;
    background-color: #12ab9d;
}
.non-active {
    color: white;
}
.active {
    color: black;
    background: orange;
}
